@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #94a3b8;
  font-family: "Poppins", sans-serif;
  &::-webkit-scrollbar {
    width: 8px; /* Chiều rộng của thanh cuộn */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #404040; /* Màu của nút cuộn */
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Màu của phần nền thanh cuộn */
  }
}
table {
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  tr,
  th {
    text-align: center;
    border: 1px solid black;
    padding: 10px 0;
  }
  td {
    font-weight: 500;
    border: 1px solid black;
    padding: 10px;
  }
}

#root .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
#root .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

#root .ql-editor {
  min-height: 18em;
}
.quill {
  position: relative;
  top: 0;
  .ql-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    height: 90px;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    font-size: 2rem;
  }
  .ql-container {
    min-height: 500px;
  }
}
.text-gradient {
  background-image: linear-gradient(to right, #0074e4, #ff3f3f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
